<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phien ban</b> 2.4.0
    </div>
    <strong>ban quyen &copy; 2014-2016 <a href="">TranTienLoi</a>.</strong> All rights
    reserved.
</footer>