@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="container">
        <a class="navbar-brand" href="/">TTL Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/AboutUs">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Services">Services</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                @{

                    var userData = User.GetUserData();
                    int cartItemCount = Context.Session.GetInt32("CartItemCount") ?? 0;
                    @if (userData != null)
                    {

                        <li class="nav-item">
                            <a class="nav-link" href="~/Account/Cart">
                                <i class="bi bi-cart"></i> Cart
                                <span class="badge bg-light text-dark position-relative" style="top: -3px;">@cartItemCount</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle nav-link" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Xin chào: @userData.DisplayName
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="~/Account/EditProfile?CustomerID=@userData.UserId">Sửa thông tin cá nhân</a></li>
                                <li><a class="dropdown-item" href="~/Account/ChangePassword">Đổi mật khẩu</a></li>
                                <li><a class="dropdown-item" href="~/Account/History">Lịch sử mua hàng</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="~/Account/Logout">Đăng xuất</a></li>
                            </ul>
                        </li>
                        
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="~/Account/Login" class="btn btn-outline-light text-black">
                                <i class="bi bi-box-arrow-in-right me-2"></i> Đăng nhập/ Đăng ký
                            </a>
                        </li>
                    }
                }
        </div>
    </div>
</nav>
@section scripts {
   <script>
        // Giả sử bạn đang sử dụng jQuery
        $("#changePasswordForm").submit(function (event) {
            event.preventDefault();

            var oldPassword = $('#oldPassword').val();
            var newPassword = $('#newPassword').val();
            var confirmPassword = $('#confirmPassword').val();

            // Gửi dữ liệu đến server bằng AJAX
            $.ajax({
                url: '/Account/ChangePassword', // Đường dẫn đến controller
                type: 'POST',
                data: {
                    oldPassword: oldPassword,
                    newPassword: newPassword
                },
                success: function (response) {
                    // Xử lý khi đổi mật khẩu thành công
                    $('#changePasswordModal').modal('hide');
                    alert('Đổi mật khẩu thành công!');
                },
                error: function (error) {
                    // Xử lý khi có lỗi
                    alert('Đổi mật khẩu thất bại. Vui lòng thử lại.');
                }
            });
        });
   </script>
}